/* working dupe code */
body {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  color: #ffffff;
  background-image: url(../img/Ocean_edit.gif);
  background-color: var(--waterblue3);
  font-family: 'Gaegu', sans-serif;
  animation: waves 5s ease-in-out infinite alternate;
}

header a {
  color: var(--titleTColor);
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}
header a:hover {
  color: var(--hoverTColor);
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50vh; */
  margin: 1em;
  }

  nav a, nav button {
    letter-spacing: 0.1em;
    font-weight: bold;
  }

  footer {
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 1em 0;
    background-color: #2f2f2f;
  }

  .column {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
  }

  a {
    text-decoration: none;
    color: #1abc9c;
  }

  footer a:hover {
    color: #f6A623;
  }

footer h4 {
  color: var(--titleTColor);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
