/* working dupe code */
body {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  color: #ffffff;
  background-image: url(../img/Ocean_edit.gif);
  background-color: var(--waterblue3);
  font-family: 'Gaegu', sans-serif;
  animation: waves 5s ease-in-out infinite alternate;
}

header a {
  color: var(--titleTColor);
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}
header a:hover {
  color: var(--hoverTColor);
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50vh; */
  margin: 1em;
  }

  nav a, nav button {
    letter-spacing: 0.1em;
    font-weight: bold;
  }

footer h4 {
  color: var(--titleTColor);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
:root {
  --titleTColor: white;
  --hoverTColor: #ff9c8c;
  /* --hoverTColor: #ff9e95; */
  --chillPink: #ffeee0;
  --lpadgreen: #00cd6f;
  --waterblue: #1abc9c;
  --waterblue2: #2aafd5;
  --waterblue3: #46cff6;
  --froggygreen: #006400;
  --navblack: #333;

}

@keyframes waves {
  from {background-color: #57bbce;}
  to {background-color: var(--chillPink);}
}

h1::selection, h2::selection, h3::selection, h4::selection {
  background-color: var(--navblack);
}

p {
  font-size: 1.25em;
  padding: .5em;
  line-height: 1.5;
  color: var(--titleTColor);
}

body::selection {
  background-color: var(--froggygreen);
}
.lPad {
  background-color: var(--lpadgreen);
  box-shadow: 0.5em 0.5em 0.1em #4297bc;
  margin: 1em;
  padding: .1em;
  border-radius: 40em / 20em;
  text-align: center;
  font-size: 1.25em;
}

/* max-width: 1000px; */
/* margin: 3em auto; */

@import url(//fonts.googleapis.com/css?family=Gaegu:400,700);

header {
  height: 5em, auto;
  line-height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#header-title {
  /* display: block;
  float: left; */
  margin: .5em;
  margin-bottom: 0;
  font-size: 12vw;
  font-weight: bold;
}
nav {
  display: block;
  margin-top: 0;
}

nav div {
  padding-left: 20px;
}
.lpadcontainer {
  display: block;
  background-color: #00cd6f;
  box-shadow: 0.5em 0.5em 0.1em #4297bc;
  max-width: 1000px;
  margin: 3em auto;
  padding: .1em;
  border-radius: 40em / 20em;
}
#notch {
  width: 0;
  height: 0;
  border-bottom: 8em solid transparent;
  border-left: 8em solid transparent;
  display: inline;
}
.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}
.about-title {
  font-weight: bold;
}
.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.post-author span {
  margin-left: 16px;
}
.post-date {
  color: #006400;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h1, h2, h3, h4 {
  color: #006400;
}

footer {
  background-color: #2f2f2f;
  padding: 50px 0;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
a {
  color: var(--titleTColor);
  text-decoration: none;
}
a:hover {
  color: var(--hoverTColor);
}

.fallingLPads {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
