/* working dupe code */
body {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  color: #ffffff;
  background-image: url(../img/Ocean_edit.gif);
  background-color: var(--waterblue3);
  font-family: 'Gaegu', sans-serif;
  animation: waves 5s ease-in-out infinite alternate;
}

header a {
  color: var(--titleTColor);
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: .2em;
}
header a:hover {
  color: var(--hoverTColor);
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  }

  nav a, nav button {
    letter-spacing: 0.1em;
    font-weight: bold;
  }

  footer {
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 1em 0;
    background-color: #2f2f2f;
  }

  .column {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
  }

  a {
    text-decoration: none;
    color: #1abc9c;
  }

  footer a:hover {
    color: #f6A623;
  }

footer h4 {
  color: var(--titleTColor);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
:root {
  --titleTColor: white;
  --hoverTColor: #ff9c8c;
  /* --hoverTColor: #ff9e95; */
  --chillPink: #ffeee0;
  --lpadgreen: #00cd6f;
  --waterblue: #1abc9c;
  --waterblue2: #2aafd5;
  --waterblue3: #46cff6;
  --froggygreen: #006400;
  --navblack: #333;

}

@keyframes waves {
  from {background-color: #57bbce;}
  to {background-color: var(--chillPink);}
}

h1, h2, h3, h4 {
  color: #006400;
}

h1::selection, h2::selection, h3::selection, h4::selection {
  background-color: var(--navblack);
}

p {
  font-size: 1.25em;
  padding: .5em;
  line-height: 1.5;
  color: var(--titleTColor);
}

body::selection {
  background-color: var(--froggygreen);
}
.lPad {
  background-color: var(--lpadgreen);
  box-shadow: 0.5em 0.5em 0.1em #4297bc;
  margin: 1em;
  padding: .1em;
  border-radius: 40em / 20em;
  text-align: center;
  font-size: 1.25em;
}

/* max-width: 1000px; */
/* margin: 3em auto; */
