@keyframes waves {
  from {background-color: var(--waterblue2);}
  to {background-color: var(--waterblue3);}
}

.tumblr_posts {
  margin-right: 3em;
}

.tumblr_post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--lpadgreen);
  box-shadow: 0.5em 0.5em 0.1em #4297bc;
  max-width: 1000px;
  margin: 2em auto;
  padding: 7em;
  border-radius: 40em / 20em;
}

.tumblr_title {
  font-size: 3em;
}

.tumblr_body ul {
  width: 90%;
  margin: auto;
  text-align: center;
  list-style: inside;
}

.tumblr_body img {
  border-radius: 5em / 5em;
}

body {
  background-image: url(../img/Ocean_edit.gif);
  background-color: var(--waterblue2);
    color: var(--froggygreen);
  margin: 0;
  font-family: 'Gaegu', sans-serif;
animation: waves 3s ease-in infinite alternate;
}

#header-title {
  /* margin-top: .5em; */
  margin-bottom: 0;
  font-size: 3em;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}
header a {
  padding: .1em;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* background-color: var(--lpadgreen); */
  color: var(--titleTColor);
  border-radius: 40em / 30em;
}
header a:hover {
  color: var(--hoverTColor);
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vh;
  background-color: var(--lpadgreen);
  box-shadow: 0.5em 0.5em 0.1em #4297bc;
}

.lpadheader {
  display: block;
  background-color: var(--lpadgreen);
  box-shadow: 0.5em 0.5em 0.1em #c7eacb;
  max-width: 1000px;
  margin: 3em auto;
  padding: .1em;
  border-radius: 40em / 20em;
  display: flex;
  align-items: center;
}
#header-title {
  /* display: block; */
  float: left;
  font-weight: bold;
}
#header-image {
  /* display: inline-block; */
  padding-left: 150px;
}
nav {
  /* display: block; */
  margin-top: 0;
}

nav li {
  display: inline;
  padding-left: 20px;
}

main {
  position: relative;
}

.lpadcontainer {
  display: block;
  background-color: var(--lpadgreen);
  box-shadow: 0.5em 0.5em 0.1em #c7eacb;
  /* max-width: 1000px; */
  margin: 3em auto;
  padding: .1em;
  border-radius: 40em / 20em;
}
.container {
  display: block;
  /* background-color: var(--lpadgreen); */
  max-width: 1000px;
  margin: 0 auto;
}
.post-container:nth-child(even) {
  /* background-color: #00FF7F; */
}
article {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}
.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.post-author span {
  margin-left: 16px;
}
.post-date {
  color: #006400;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 1.75em;
}

p {
  line-height: 1.5;
  color: var(--titleTColor);
  font-size: 1.25em;
}

#spacer {
  width: 100%;
  height: 20em;
}
