
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
  background-color: antiquewhite;
  background-image: url(../img/paper.jpg);
  margin: 0;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
}

main {
  position: relative;
}

nav {
  background-color: darkolivegreen;
  box-shadow: 1.5em -.2em indianred;
  border-radius: 0 0 50em 0;
  max-width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
}

nav a {
font-size: 2em;
font-weight: bold;
color: antiquewhite;
text-decoration: none;
padding: .5em;
margin: .5em;
}

#themeIcon {
  display: none;
}

LPad {
  display:flex

}

.about {
  /* position: relative; */
}

.imageCollage {
  /* position: relative; */
}

#profile_pic {
  max-width: 55em;
  left: -2em;
  top: -.5em;
  position: absolute;
  z-index: -1;
}

#pic2 {
 max-width: 50%;
}

#leaf_pic {
  z-index: -2;
  position: absolute;
  left: 40em;
  top: 0;
  animation: slide 2s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#chestnutLeaf_pic {
  z-index: -3;
  position: absolute;
  left: 52em;
  top: -9em;
  transform: rotatez(45deg);
  animation: slide 1.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes slide {
  to {
    left: 100em;
    top: 60em;
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  to {
    transform: rotate(-360deg);
  }
}

#pumpkin_pic {
  z-index: -4;
  position: absolute;
  left: 2em;
  top: 71em;
}

#mushroom_pic {
  max-width: 25em;
  border-radius: 5em;
  z-index: -4;
  position: absolute;
  left: 46em;
  top: 57em;
}

#gerb1_pic {
  z-index: -3;
  transform: rotate(175deg);
  position: absolute;
  left: -15em;
  top: 27em;
  animation: rotate 10s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#gerb2_pic {
  z-index: -2;
  position: absolute;
  left: 40em;
  top: 30em;
  animation: rotate2 5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#gerb3_pic {
  z-index: -3;
  position: absolute;
  left: 8em;
  top: -13em;
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.about-title {
  font-family: 'Rock Salt', cursive;
  text-align: center;
  /* position: absolute; */
  background-color: #3a5a1dc4;
  border-radius: 75%;
}

.titleText {
  font-size: 9em;
  line-height: 1.2em;
  color: gold;
  text-shadow: 0.05em 0.05em black;
  position: absolute;
  top: -0.55em;
  left: .5em;
  z-index: 1;
}

.titleText:nth-child(2) {
  font-size: 6em;
  line-height: 1em;
  color: goldenrod;
  text-shadow: 0.05em 0.05em black;
  position: absolute;
  top: 1em;
  left: 2em;
}

.about-box {
border-radius: .5em;
background: rosybrown;
text-align: center;
font-size: 1.5em;
padding: 1em;
max-width: 20em;
min-width: 15em;
position: absolute;

}

#aboutBox1 {
  top: 16em;
  left: 9em;
}

#aboutBox2 {
  z-index: -3;
  top: 35em;
  left: 9em;
}
