
.tumblr_photo_post {
  margin: 1rem;
}

.tumblr_photo {
  border-radius: 25%;
  max-width: 100%;
}

.tumblr_posts {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

@media screen and (min-width: 600px) {
  .tumblr_posts {
    display: flex;
    flex-flow: wrap;
  }
}
