
h1, h2, h3, h4 {
  color: var(--froggygreen);
}

h1::selection, h2::selection, h3::selection, h4::selection {
  background-color: var(--navblack);
}

p {
  font-size: 1.25em;
  padding: .5em;
  line-height: 1.5;
  color: var(--titleTColor);
}

body::selection {
  background-color: var(--froggygreen);
}
