button#theme-toggle {
  background-color: transparent;
  opacity: .5;
  color: white;
  float: right;
  margin: 1em;
  position: sticky;
  background-image: url(../img/nightmode.png);
  /* background-color: black;
  color: white; */
  background-size: cover;
  background-position: center;
  display: inline-block;
  border: none; padding: 20px;
  width: 50px;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
}

button#theme-toggle:hover {
  opacity: 1;
  width: 75px;
  height: 75px;
}
